.about_text_container {
  margin: 4rem;
}

.about_heading {
  text-align: start;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.about_description {
  text-align: start;
  font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
  .about_text_container {
    margin: 4rem 2rem;
  }
}